html,body {
	margin:0;
	font-family: 'Dawning of a New Day', cursive;
}

.key-enter-active,
.key-leave-active{
    transition:opacity .5s;
}

.key-enter,
.key-leave-to {
    opacity:0;
}

.outer{
    position:absolute;
    top:1000px;
    left:0;
    right:0;
    margin:0 auto;
    width:300px;
}

.fade{
    opacity:0;
    transition:3s;
    padding:1000px 0;
}



